{% extends 'base.html' %} 

{% block 'content' %}
<div class="container py-3 px-5" id= "historia">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h1 class="display-4 fw-bold lh-1 mt-3">Sobre Nosotros</h1>
          <h2 class="display-4 fw-bold lh-1 mt-1 mb-4 pb-4 fs-3" >Descubre la Historia de OnlyFlans</h2>
          <div class="pt-2">
          <p class="fs-5">En el corazón de la bulliciosa ciudad de Flantástica se encuentra una pequeña pastelería llamada "El Rincón de los Flanes". Fundada hace más de dos décadas por la apasionada chef Amelia, esta modesta tienda rápidamente se ganó el corazón de los amantes de los postres en toda la ciudad. Los flanes de Amelia no eran solo dulces tentadores, sino pequeñas obras de arte hechas con amor y dedicación.</p>
          <p class="fs-5">A lo largo de los años, "El Rincón de los Flanes" se convirtió en un punto de encuentro para la comunidad, donde amigos y familiares se reunían para disfrutar de los deliciosos flanes de Amelia y compartir momentos especiales. Sin embargo, a medida que el tiempo pasaba, la tienda comenzó a enfrentarse a desafíos económicos. La competencia de grandes cadenas de pastelería y la creciente tendencia de los servicios de entrega en línea pusieron en peligro la supervivencia del pequeño negocio.</p>
          <p class="fs-5">Con el deseo de preservar la tradición y el legado de su madre, Sofía, la hija de Amelia, decidió tomar medidas audaces para revitalizar "El Rincón de los Flanes". Inspirada por la pasión y la creatividad de su madre, Sofía tuvo una visión: llevar el encanto y la calidez de la pastelería familiar al mundo digital. Así nació OnlyFlans, una plataforma en línea dedicada exclusivamente a los amantes de los flanes de todo el mundo.</p>
          <p class="fs-5"> Con la ayuda de un equipo de jóvenes emprendedores y expertos en tecnología, Sofía transformó la antigua pastelería en una vibrante comunidad en línea donde los usuarios pueden descubrir una amplia variedad de recetas de flanes, compartir sus propias creaciones, conectarse con otros entusiastas de los flanes y disfrutar de contenido exclusivo relacionado con el mundo de los flanes.</p>
          <p class="fs-5">La misión de OnlyFlans es simple pero poderosa: preservar la tradición de los flanes caseros, fomentar la creatividad culinaria y unir a personas de diferentes culturas y rincones del mundo a través de su amor compartido por este postre icónico.</p>
          <p class="fs-5">Únete a nosotros en esta deliciosa aventura y descubre el maravilloso mundo de OnlyFlans, donde cada bocado es una experiencia de dulce felicidad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}





