{% extends 'base.html' %} 

{% block 'content' %}
<div class="container py-3 px-5" id= "historia">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="text-center">
          <h1 class="display-4 fw-bold lh-1 mt-3" style="color: #f1d258;"><i>Sobre Nosotros</i></h1>
          <h2 class="display-4 fw-bold lh-1 mt-1 mb-1 pb-0 fs-4" >Descubre la historia de OnlyFlans</h2>

          <div class="pt-2">
          <img class="pt-3 pb-4 mb-3" src="https://cdn2.cocinadelirante.com/sites/default/files/images/2018/07/flan-de-vainilla-con-leche-de-avena.jpg" alt="flandevainilla" width="400px">
          <p class="fs-5">
            <i>OnlyFlans surgió de la visión emprendedora de una familia apasionada por la pastelería. Con una larga tradición en la elaboración de flanes de calidad, decidieron expandir su alcance más allá de su ubicación física en Santiago de Chile. 
            Conscientes del creciente interés en la repostería y la comunidad digital, lanzaron una plataforma en línea donde los entusiastas de los flanes pueden encontrar nuevas recetas, compartir experiencias culinarias y conectarse con otros amantes de los postres. 
            Con un enfoque en la excelencia y la satisfacción del cliente, OnlyFlans se esfuerza por brindar una experiencia única y deliciosa a su creciente comunidad de usuarios.</i>
          </p>

          <p class="fs-5 text-center">
            <i>Además de ser una plataforma para los amantes de los flanes, OnlyFlans busca ser un espacio inclusivo donde tanto aficionados como expertos puedan compartir su pasión por la repostería. 
            Con un compromiso con la calidad y la innovación, la empresa continúa explorando nuevas formas de deleitar a sus clientes con sabores únicos y experiencias culinarias memorables. 
            Con un equipo dedicado y una comunidad vibrante, OnlyFlans aspira a convertirse en el destino número uno para todo lo relacionado con los flanes y más allá.
          </i>
        </p>
          
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}





